.theme-dark {
    --clr-black: #001219;
    --clr-pastel: #E9D8A6;
    --clr-white: #EFEFEF;
    --clr-dark-blue: #005F73;
    --clr-mid-blue: #0A9396;
    --clr-light-blue: #94D2BD;
    --clr-dark-orange: #BB3E03;
    --clr-mid-orange: #CA6702;
    --clr-light-orange: #EE9B00;
    --clr-dark-red: #9B2226;
    --clr-red: #AE2012;
}