.body-content {
  color: var(--clr-white);
  background: var(--clr-black);
}

.clickable {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.clickable:hover {
  transform: scale(1.05);
}
.clickable:active {
  color: rgba(255, 255, 255, 0.6);
}

.main-content {
  color: var(--clr-white);
}
.main-content section[class*=task-] {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.main-content .task-1 .captcha-input-accesed::-moz-placeholder {
  color: rgb(0, 129, 4);
}
.main-content .task-1 .captcha-input-accesed:-ms-input-placeholder {
  color: rgb(0, 129, 4);
}
.main-content .task-1 .captcha-input-accesed::placeholder {
  color: rgb(0, 129, 4);
}
.main-content .task-1 .captcha-input-denied::-moz-placeholder {
  color: var(--clr-red);
}
.main-content .task-1 .captcha-input-denied:-ms-input-placeholder {
  color: var(--clr-red);
}
.main-content .task-1 .captcha-input-denied::placeholder {
  color: var(--clr-red);
}
.main-content .task-1 .form-container {
  width: max(30rem, 30%);
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--clr-mid-blue);
}
.main-content .task-1 .form-container > * {
  width: 100%;
  text-align: center;
}
.main-content .task-1 .form-container > * > * {
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
}
.main-content .task-1 .form-container .btn {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  color: var(--clr-white);
  background: var(--clr-red);
}
.main-content .task-1 .form-container .captcha-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 3.2rem;
}
.main-content .task-1 .form-container .captcha-container .captcha {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-image: url(/resources/images/captcha-bg.png);
}
.main-content .task-1 .form-container .captcha-container .captcha > p {
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgba(0, 0, 0, 0.5);
}
.main-content .task-1 .form-container form {
  height: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.main-content .task-1 .form-container form .captcha-input {
  height: inherit;
  width: inherit;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
.main-content .task-1 .form-container form .captcha-input:focus::-moz-placeholder {
  opacity: 0;
}
.main-content .task-1 .form-container form .captcha-input:focus:-ms-input-placeholder {
  opacity: 0;
}
.main-content .task-1 .form-container form .captcha-input:focus::placeholder {
  opacity: 0;
}
.main-content .task-2 .timer-container {
  display: grid;
  row-gap: 3rem;
  padding: 3rem;
}
.main-content .task-2 .timer-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .task-2 .timer-container .timer {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
}
.main-content .task-2 .timer-container .timer .timer-item {
  width: min(10rem, 30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.main-content .task-2 .timer-container .img-container {
  height: 25rem;
}
.main-content .task-2 .timer-container .img-container > img {
  height: inherit;
  aspect-ratio: 1/1;
}