.body-content {
    color: var(--clr-white); // Default color
    background: var(--clr-black);
}

.clickable {
    cursor: pointer;

    transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        color: rgba(255, 255, 255, 0.6);
    }
}

.main-content {

    color: var(--clr-white);

    // section that has task- in the class name
    section[class*="task-"] {

        width: 100%;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 3rem;
    }

    .task-1 {

        .captcha-input-accesed {
            
            &::placeholder {
                color: rgb(0, 129, 4);
            }
        }
        
        .captcha-input-denied {
            
            &::placeholder {
                color: var(--clr-red);
            }
        }
        
        .form-container {
            width: max(30rem, 30%);
            max-width: 40rem;

            display: flex;
            flex-direction: column;
            gap: 2rem;

            padding: 2rem;

            border-radius: 1rem;
            background: var(--clr-mid-blue);

            > * {
                width: 100%;
                text-align: center;

                > * {
                    box-shadow: 0px 0px 0.5rem rgba($color: #000000, $alpha: 0.3);
                }
            }

            .btn {
                height: 100%;
                aspect-ratio: 1 / 1;

                display: flex;
                justify-content: center;
                align-items: center;

                border: none;
                border-radius: 0.5rem;

                color: var(--clr-white);
                background: var(--clr-red);
            }

            .captcha-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                height: 3.2rem;

                .captcha {
                    width: inherit;
                    height: inherit;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 0.5rem;
                    background-image: url(/resources/images/captcha-bg.png);

                    > p {
                        padding-inline-start: 2rem;
                        user-select: none;
                        color: rgba($color: #000000, $alpha: 0.5);
                    }
                }
            }

            form {
                height: 3.2rem;

                display: flex;
                justify-content: space-between;
                align-items: center;

                gap: 1rem; 

                .captcha-input {
                    height: inherit;
                    width: inherit;

                    padding: 0.5rem;

                    border-radius: 0.5rem;
                    border: none;
                    
                    outline: none;

                    &:focus::placeholder {
                        opacity: 0;
                    }
                }
            }
        }
    }

    .task-2 {

        .timer-container {
            display: grid;
            row-gap: 3rem;

            padding: 3rem;

            > * {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .timer {
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 2rem;

                .timer-item {
                    width: min(10rem, 30%);
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    gap: 0.5rem;
                }
            }

            .img-container {
                height: 25rem;

                > img {
                    height: inherit;
                    aspect-ratio: 1 / 1;
                }
            }
        }
    }

    .task-3 {

        .search {
            --easing: cubic-bezier(0.4, 0, 0.2, 1);
            --font-size: 2rem;
            --color-highlight: var(--clr-white);
            --transition-time-icon: 0.2s;
            --transition-time-input: 0.3s 0.25s;

            &:not(:focus-within) {
                --transition-time-input: 0.2s 0s;
            }
            
            @media (prefers-reduced-motion: reduce) {
                --transition-time-icon: 0s !important;
                --transition-time-input: 0s !important;
            }

            $root: &;

            border-radius: 5rem;
            border: 2px solid transparent;
            display: flex;
            transition: border-color var(--transition-time-icon) linear,
            padding var(--transition-time-input) var(--easing);

            &__input {
                background: transparent;
                border: none;
                color: var(--color-highlight);
                font-size: var(--font-size);
                opacity: 0;
                outline: none;
                padding: 0;
                transition: width var(--transition-time-input) var(--easing),
                padding var(--transition-time-input) var(--easing),
                opacity var(--transition-time-input) linear;
                width: 0;

                &::placeholder {
                    color: var(--color-white);
                    opacity: 0.75;
                }
            }

            &__icon-container {
                height: calc(var(--font-size) + 2rem);
                position: relative;
                width: calc(var(--font-size) + 2rem);
            }

            &__label,
            &__submit {
                color: var(--color-white);
                cursor: pointer;
                display: block;
                height: 100%;
                padding: 0;
                position: absolute;
                width: 100%;

                &:hover,
                &:focus,
                &:active {
                    color: var(--color-highlight);
                }
            }

            &__label {
                transition: transform var(--transition-time-icon) var(--easing), color 0.1s;
            }

            &__submit {
                background: none;
                border-radius: 50%;
                border: none;
                box-shadow: 0 0 0 4px inset transparent;
                display: none;
                outline: none;
                transition: color 0.1s, box-shadow 0.1s;

                svg {
                    transform: scale(0.5);
                }

                &:focus {
                    box-shadow: 0 0 0 4px inset var(--color-highlight);
                }
            }

            &:focus-within {
                border-color: var(--clr-light-orange);

                .search {
                    
                    &__input {
                        opacity: 1;
                        padding: 0 1rem 0 2rem;
                        width: calc(var(--font-size) * 12);
                    }

                    &__label {
                        transform: scale(0.5);
                    }

                    &__submit {
                        animation: unhide var(--transition-time-icon) steps(1, end);
                        display: block;
                    }
                }
            }
        }
    }

    .task-4 {
        
        .scientist-card {
            position: relative;

            height: min(25rem, 30%);
            aspect-ratio: 1 / 1;
            margin: 0 auto;

            display: grid;
            gap: 2rem;

            overflow: hidden;
            
            border-radius: 50%;
            background: linear-gradient(225deg, var(--clr-red) 0%, var(--clr-light-orange) 100%);

            transition: all 0.2s ease-in-out;

            .img-container {

                > img {
                    transition: all 0.3s ease-in-out;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                
                text-align: center;
            }

            .btn-group {
                display: flex;
                flex: row wrap;
                justify-content: space-between;
                align-items: center;

                > * {
                    padding: 0.5rem 1rem;

                    border-radius: 0.5rem;
                    box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.3);
                    background: var(--clr-mid-blue);
                }
            }

            .icons {
                position: absolute;
                top: 2rem;
                left: -100%;

                display: flex;
                flex-direction: column;
                gap: 1rem;

                transition: all 0.3s ease-in-out;

                > * {
                    height: 1.6rem;
                    aspect-ratio: 1 / 1;

                    font-size: 1.6rem;
                }
            }

            &:hover {
                height: 45rem;
                aspect-ratio: 2 / 3;

                padding: 2rem;

                border-radius: 0.5rem;

                .img-container {

                    > img {
                        position: relative;
                        height: 20rem;
                        aspect-ratio: 1 / 1;
                        margin: 0.5rem auto;
    
                        object-fit: cover;
    
                        border-radius: 50%;
                        border: 0.5rem solid var(--clr-white);
                    }
                }

                .icons {
                    left: 2rem;
                }
            }

            &.active {
                padding: 0;

                .img-container img {
                    height: 45rem;
                    aspect-ratio: 2 / 3;

                    margin: 0 auto;

                    border-radius: 0.5rem;
                    border: none;
                }
                
                .icons {
                    left: -100%;
                }
            }
        }
    }
}

@keyframes unhide {
    from {
      height: 0;
      opacity: 0;
    }
  
    to {
      height: auto;
      opacity: 1;
    }
  }