.body-content {
    color: var(--clr-white); // Default color
    background: var(--clr-black);
}

.clickable {
    cursor: pointer;

    transition: all 0.1s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        color: rgba(255, 255, 255, 0.6);
    }
}

.main-content {

    color: var(--clr-white);

    // section that has task- in the class name
    section[class*="task-"] {

        width: 100%;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 3rem;
    }

    .task-1 {

        .captcha-input-accesed {
            
            &::placeholder {
                color: rgb(0, 129, 4);
            }
        }
        
        .captcha-input-denied {
            
            &::placeholder {
                color: var(--clr-red);
            }
        }
        
        .form-container {
            width: max(30rem, 30%);
            max-width: 40rem;

            display: flex;
            flex-direction: column;
            gap: 2rem;

            padding: 2rem;

            border-radius: 1rem;
            background: var(--clr-mid-blue);

            > * {
                width: 100%;
                text-align: center;

                > * {
                    box-shadow: 0px 0px 0.5rem rgba($color: #000000, $alpha: 0.3);
                }
            }

            .btn {
                height: 100%;
                aspect-ratio: 1 / 1;

                display: flex;
                justify-content: center;
                align-items: center;

                border: none;
                border-radius: 0.5rem;

                color: var(--clr-white);
                background: var(--clr-red);
            }

            .captcha-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;

                height: 3.2rem;

                .captcha {
                    width: inherit;
                    height: inherit;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    border-radius: 0.5rem;
                    background-image: url(/resources/images/captcha-bg.png);

                    > p {
                        padding-inline-start: 2rem;
                        user-select: none;
                        color: rgba($color: #000000, $alpha: 0.5);
                    }
                }
            }

            form {
                height: 3.2rem;

                display: flex;
                justify-content: space-between;
                align-items: center;

                gap: 1rem; 

                .captcha-input {
                    height: inherit;
                    width: inherit;

                    padding: 0.5rem;

                    border-radius: 0.5rem;
                    border: none;
                    
                    outline: none;

                    &:focus::placeholder {
                        opacity: 0;
                    }
                }
            }
        }
    }

    .task-2 {

        .timer-container {
            display: grid;
            row-gap: 3rem;

            padding: 3rem;

            > * {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .timer {
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 2rem;

                .timer-item {
                    width: min(10rem, 30%);
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    gap: 0.5rem;
                }
            }

            .img-container {
                height: 25rem;

                > img {
                    height: inherit;
                    aspect-ratio: 1 / 1;
                }
            }
        }
    }

    .task-3 {

        .search {
            --easing: cubic-bezier(0.4, 0, 0.2, 1);
            --font-size: 2rem;
            --color-highlight: var(--clr-white);
            --transition-time-icon: 0.2s;
            --transition-time-input: 0.3s 0.25s;

            &:not(:focus-within) {
                --transition-time-input: 0.2s 0s;
            }
            
            @media (prefers-reduced-motion: reduce) {
                --transition-time-icon: 0s !important;
                --transition-time-input: 0s !important;
            }

            $root: &;

            border-radius: 5rem;
            border: 2px solid transparent;
            display: flex;
            transition: border-color var(--transition-time-icon) linear,
            padding var(--transition-time-input) var(--easing);

            &__input {
                background: transparent;
                border: none;
                color: var(--color-highlight);
                font-size: var(--font-size);
                opacity: 0;
                outline: none;
                padding: 0;
                transition: width var(--transition-time-input) var(--easing),
                padding var(--transition-time-input) var(--easing),
                opacity var(--transition-time-input) linear;
                width: 0;

                &::placeholder {
                    color: var(--color-white);
                    opacity: 0.75;
                }
            }

            &__icon-container {
                height: calc(var(--font-size) + 2rem);
                position: relative;
                width: calc(var(--font-size) + 2rem);
            }

            &__label,
            &__submit {
                color: var(--color-white);
                cursor: pointer;
                display: block;
                height: 100%;
                padding: 0;
                position: absolute;
                width: 100%;

                &:hover,
                &:focus,
                &:active {
                    color: var(--color-highlight);
                }
            }

            &__label {
                transition: transform var(--transition-time-icon) var(--easing), color 0.1s;
            }

            &__submit {
                background: none;
                border-radius: 50%;
                border: none;
                box-shadow: 0 0 0 4px inset transparent;
                display: none;
                outline: none;
                transition: color 0.1s, box-shadow 0.1s;

                svg {
                    transform: scale(0.5);
                }

                &:focus {
                    box-shadow: 0 0 0 4px inset var(--color-highlight);
                }
            }

            &:focus-within {
                border-color: var(--clr-light-orange);

                .search {
                    
                    &__input {
                        opacity: 1;
                        padding: 0 1rem 0 2rem;
                        width: calc(var(--font-size) * 12);
                    }

                    &__label {
                        transform: scale(0.5);
                    }

                    &__submit {
                        animation: unhide var(--transition-time-icon) steps(1, end);
                        display: block;
                    }
                }
            }
        }
    }

    .task-4 {
        
        .scientist-card {
            position: relative;

            height: min(25rem, 30%);
            aspect-ratio: 1 / 1;
            margin: 0 auto;

            display: grid;
            gap: 2rem;

            overflow: hidden;
            
            border-radius: 50%;
            background: linear-gradient(225deg, var(--clr-red) 0%, var(--clr-light-orange) 100%);

            transition: all 0.2s ease-in-out;

            .img-container {

                > img {
                    transition: all 0.3s ease-in-out;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                
                text-align: center;
            }

            .btn-group {
                display: flex;
                flex: row wrap;
                justify-content: space-between;
                align-items: center;

                > * {
                    padding: 0.5rem 1rem;

                    border-radius: 0.5rem;
                    box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.3);
                    background: var(--clr-mid-blue);
                }
            }

            .icons {
                position: absolute;
                top: 2rem;
                left: -100%;

                display: flex;
                flex-direction: column;
                gap: 1rem;

                transition: all 0.3s ease-in-out;

                > * {
                    height: 1.6rem;
                    aspect-ratio: 1 / 1;

                    font-size: 1.6rem;
                }
            }

            &:hover {
                height: 45rem;
                aspect-ratio: 2 / 3;

                padding: 2rem;

                border-radius: 0.5rem;

                .img-container {

                    > img {
                        position: relative;
                        height: 20rem;
                        aspect-ratio: 1 / 1;
                        margin: 0.5rem auto;
    
                        object-fit: cover;
    
                        border-radius: 50%;
                        border: 0.5rem solid var(--clr-white);
                    }
                }

                .icons {
                    left: 2rem;
                }
            }

            &.active {
                padding: 0;

                .img-container img {
                    height: 45rem;
                    aspect-ratio: 2 / 3;

                    margin: 0 auto;

                    border-radius: 0.5rem;
                    border: none;
                }
                
                .icons {
                    left: -100%;
                }
            }
        }
    }

    .task-5 {

        .counter-container {
            display: grid;
            row-gap: 1rem;

            padding: 1rem;

            border-radius: 0.5rem;
            background: var(--clr-dark-blue);

            .img-container {
                width: 10rem;
                aspect-ratio: 1 / 1;

                border-radius: inherit;

                > img {
                    border-radius: inherit;
                }
            }

            .counter-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                gap: 0.25rem;
            }
        }
    }

    .task-6 {

        .container {
            position: relative;
            width: 40rem;
            padding: 20px 30px;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border-radius: 0.5rem;
            border: 1px solid #444;
            
            background: #111;

            .post {
                display: none;
            }

            .text {
                color: #666;
            }

            .edit {
                position: absolute;
                right: 10px;
                top: 5px;

                color: #666;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .star-widget {
                width: 100%;

                input {
                    display: none;

                    &:checked ~ form {
                        display: block;
                    }

                    &:checked ~ label {
                        color: #fd4;
                    }

                    &:not(:checked) {

                        & ~ label:hover,
                        & ~ label:hover ~ label {
                            color: #fd4;
                        }
                    }

                    &#rate-1:checked ~ form header:before{
                        content: "I just hate it";
                    }
                    &#rate-2:checked ~ form header:before{
                        content: "I don't like it";
                    }
                    &#rate-3:checked ~ form header:before{
                        content: "I just like it";
                    }
                    &#rate-4:checked ~ form header:before{
                        content: "I just love it";
                    }
                    &#rate-5:checked ~ form header:before{
                        content: "It is awesome";
                    }
                }

                label {
                    padding: 1rem;
                    aspect-ratio: 1 / 1;

                    font-size: 4rem;
                    color: #444;

                    float: right;
                    transition: all 0.2s ease-in-out;
                }

                form {
                    display: none;
    
                    header {
                        width: 100%;
                        font-size: 2.4rem;

                        margin: 1rem;
                        text-align: center;
    
                        color: #fe7;
                        transition: all 0.2s ease;
                    }
    
                    .textarea {
                        height: 100px;
                        width: 100%;
                        overflow: hidden;
    
                        textarea {
                            height: 100%;
                            width: 100%;
                            
                            padding: 10px;
    
                            resize: none;
    
                            color: #eee;
                            outline: none;
                            background: #222;
                            border: 1px solid #333;
    
                            &:focus {
                                border-color: #444;
                            }
                        }
                    }
    
                    .rate-btn {
                        height: 45px;
                        width: 100%;
                        margin: 15px 0;
    
                        button {
                            height: 100%;
                            width: 100%;
                            border: 1px solid #444;
                            outline: none;
                            background: #222;
                            color: #999;
                            font-size: 17px;
                            font-weight: 500;
                            text-transform: uppercase;
                            cursor: pointer;
                            transition: all 0.3s ease;
    
                            &:hover {
                                background: #444;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn-default {
        border: none;
        background: var(--clr-mid-blue);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    
        &:not(:disabled):hover {
            background: var(--clr-red);
            transform: scale(1.1);
            // box-shadow: var(--hover-elevation-shadow);
        }
    
        &:active {
            box-shadow: none;
        }
    
        &:disabled {
            background: rgba(255, 255, 255, 0.6);
            cursor: text;
        }
    }
    
    .task-7 {
        --gap-default: 1.6rem;
        --col-num-default: 12;
    
        display: grid;
        grid-template-columns: repeat(var(--col-num-default), 1fr);
        padding-inline: var(--gap-default);
        --col-num-current: var(--col-num-default);
    
        @media only screen and (min-width: 905px) {
            --col-num-current: calc(var(--col-num-default) - 2);
        }
    
        .form-box {
    
            grid-column-end: span var(--col-num-current);
            margin-inline: var(--gap-default);
            padding-top: var(--gap-default);
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            .progress {
                position: relative;
                padding: var(--gap-default);
                width: 100%;
                height: 100%;
        
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
        
                gap: calc(var(--gap-default) * 2);
        
                .logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    & > a {
                        font-size: 40px;
                    }
                }
        
                .progress-steps {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: var(--gap-default);
        
                    .step {
                        position: relative;
        
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: var(--gap-default);
        
                        & > span {
                            position: relative;
                            width: 40px;
        
                            display: flex;
                            justify-content: center;
                            align-items: center;
        
                            z-index: 1;
        
                            &::after {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
        
                                content: "";
        
                                width: inherit;
                                aspect-ratio: 1 / 1;
        
                                z-index: -1;
        
                                border-radius: 50%;
                                background: var(--clr-mid-blue);
                            }
                        }
        
                        .info {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
        
                            p:nth-child(2) {
                                color: rgba(255, 255, 255, 0.38);
                                display: none;
                            }
                        }
        
                        &.active > span::after {
                            background: var(--clr-red);
                        }
        
                        &.completed > span::after {
                            background: var(--clr-dark-red);
                        }
                    }
                }
            }
        
            form {
                width: 100%;
                padding: var(--gap-default);
        
                & > div {
                    max-width: 400px;
                    margin: 0 auto;
                    padding-top: 0;
        
                    .__title {
                        font-weight: 900;
                    }
        
                    .__subtitle {
                        color: rgba(255, 255, 255, 0.38);
                        margin-block: calc(var(--gap-default) / 3) calc(var(--gap-default) * 1.5);
                    }
        
                    &:not(:first-child) .__title {
                        margin-block-end: var(--gap-default);
                    }
        
                    & > div:not(.__checkbox) {
                        display: flex;
                        flex-direction: column;
                        margin-block-end: var(--gap-default);
        
                        label {
                            margin-block-end: calc(var(--gap-default) / 6);
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
        
                & :where(input, select) {
                    height: calc(var(--gap-default) * 1.5);
        
                    // remove default style
                    border: none;
                    outline: none;
        
                    background: transparent;
                    border-bottom: 1px solid var(--clr-light-blue);
        
                    transition: all 0.3s ease-in-out;
        
                    &:focus, &:hover {
                        border-bottom: 1px solid var(--clr-dark-blue);
                    }
                }
        
                .birth-date {
                    display: flex;
        
                    & > input {
                        max-width: 70px;
                        text-align: center;
                        margin-inline-end: calc(var(--gap-default) / 2);
                    }
                }
        
                .__checkbox {
                    display: flex;
                    align-items: center;
                    gap: calc(var(--gap-default) / 2);
        
                    & > input[type="checkbox"] {
                        height: auto;
                    }
                }
        
                .form-step {
                    display: none;
                    animation: fadeIn 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        
                    &.active {
                        display: block;
                    }
                }
        
                .btn-group {
                    display: flex;
                    justify-content: flex-start;
        
                    @media only screen and (max-width: calc(375px + 25px)) {
                        justify-content: space-between;
                    }
                    
                    flex: row wrap;
                    gap: var(--gap-default);
        
                    margin-block-start: var(--gap-default);
        
                    .btn {
                        padding: 5px 20px;
        
                        &-submit {
                            opacity: 0;
                            pointer-events: none;
                            visibility: hidden;
                        }
                    }
                }
        
                &:has(.form-3.active) .btn-group .btn-submit {
                    opacity: 1;
                    pointer-events: all;
                    visibility: visible;
                }
            }
        
            ::placeholder,
            :where(input, select) {
                color: var(--clr-white);
            }

            .access-error {
                
                &::placeholder
                {
                    color: #ff0000;
                }

                animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
                border-bottom: 1px solid var(--clr-white);
            }
        }
        
        @media only screen and (min-width: 905px) {
            .main-wrapper .form-box {
                flex-direction: row;
        
                .progress {
                    min-width: 300px;
                    flex: 1 0 35%;
        
                    padding: calc(var(--gap-default) * 2);
        
                    .progress-steps {
                        flex-direction: column;
                        gap: calc(var(--gap-default) * 2);
        
                        .step {
                            flex-direction: row;
        
                            .info p:nth-child(2) {
                                display: block;
                            }
        
                            &:not(:last-child) span::before {
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateY(100%);
            
                                content: '';
            
                                width: calc(2px * 2);
                                height: 60px;
            
                                z-index: -1;
            
                                background: rgba(255, 255, 255, 0.38);
                            }
                        }  
                    }
                }
            }
        }
    }
}

@keyframes unhide {
    from {
      height: 0;
      opacity: 0;
    }
  
    to {
      height: auto;
      opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake {
    0% {
        transform: translate3d(-1px, 0, 0);
    }
    10% {
        transform: translate3d(-1px, 0, 0);
    }
    20% {
        transform: translate3d(2px, 0, 0);
    }
    30% {
        transform: translate3d(-4px, 0, 0);
    }
    40% {
        transform: translate3d(4px, 0, 0);
    }
    50% {
        transform: translate3d(-4px, 0, 0);
    }
    60% {
        transform: translate3d(4px, 0, 0);
    }
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    80% {
        transform: translate3d(2px, 0, 0);
    }
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    100% {
        transform: translate3d(-1px, 0, 0);
    }
  }